.home-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #f4f6f8;
}

/* HERO */

.hero {
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/src/assets/img/futbol1.jpg");
  background-size: cover;
  background-position: center;
  height: 420px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 40px;
}

.hero-btn {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  background: var(--color-secondary);
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

/* GALERIA */

.gallery-section {
  padding: 40px;
  text-align: center;
}

.gallery-section h2 {
  color: #0b3d91;
  margin-bottom: 20px;
}

/* GRID INFORMACION */

.home-main {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.home-card {
  background: white;
  border-radius: 10px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.home-card h2 {
  color: var(--color-secondary);
}

/* CATEGORIAS */

.categorias {
  background: #0b3d91;
  color: white;
  padding: 60px 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.categorias-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.categoria-card {
  background: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
}

/* INSCRIPCIONES */

.inscripciones {
  padding: 60px 20px;
  margin-top: 2%;
  text-align: center;
  background: linear-gradient(90deg, #0b3d91, #e10600);
  color: white;
}

.btn-inscripcion{
  display:inline-block;
  background:var(--color-accent);  
  color:white;
  margin-top: 20px;
  padding:12px 20px;
  border-radius:8px;
  text-decoration:none;
  font-weight:bold;
}

.btn-inscripcion:hover{
  background:var(--color-secondary);  
  color: white;
}

.horarios {
  padding: 10px 20px;
  margin-top: 2%;
  text-align: center;
  color: white;
  margin-bottom: 10px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

