.home-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  font-family: Arial, sans-serif;
  background: #f7f7f7;
}
.home-main {
  flex: 1;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}
.team-presentation {
  background: white;  
  color: #4a5568;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  min-height: 30px;
  align-content: center;
}
.team-presentation h2 {
  text-align: center;
}
.team-presentation p {
  text-align: center;
}
.home-section {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  min-height: 180px;
}
.home-section h2 {
  color: #2f855a;
  margin-bottom: 10px;
  font-size: 1.7rem;
}
.home-section p {
  color: #4a5568;
  font-size: 1.05rem;
  line-height: 1.5;
  white-space: pre-line;
}
